header {
background-color: aqua;
width: 100%;
height: 70px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.mylogo{
    width: 100px;
    height: 70px;
    margin-right: 150px;

}

h1{
    color: white;
    margin-right: 80px;
}

a{color: white;}

section{
    background-color: blue;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myimage{
    width: 100px;
    height: 70px;
    margin-right: 150px;

}
.myh1{
    color: black;
    margin-right: 80px;
}